/*******************/
/* GOOGLE FONTS*/
/*******************/

@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,700;1,600&display=swap");

/*******************/
/* SOFT RESET*/
/*******************/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*******************/
/* FONT RESET*/
/*******************/
html {
  font-size: 62.5%;
}

/*******************/
/* GENERAL*/
/*******************/

body {
  font-size: 1.6rem;
  font-family: "Cabin", sans-serif;
  width: 414px;
  margin: 10rem auto;
  border: 2px solid black;
  /* margin-bottom: 0rem; */
}
.padding-body {
  padding: 2rem;
}
/*******************/
/* FLEX CLASS*/
/*******************/

.flex {
  display: flex;
}

/*******************/
/* HEADER TOP*/
/*******************/

header {
  background-color: #f0eeeb;
}
.header-top {
  background-color: black;
  height: 12rem;
  color: white;
  font-size: 1.8rem;
  line-height: 3rem;
}
.header-top p {
  width: 90%;
  margin: 0 auto;
  padding: 1rem 1rem 0rem 1rem;
  text-align: center;
}
.header-top p:nth-of-type(2) {
  padding-top: 0rem;
  text-decoration: underline;
  display: inline;
  padding-right: 0;
  width: 90%;
  margin-left: 2.2rem;
}

.header-top p:nth-of-type(3) {
  width: 90%;
  margin: 0 auto;
  display: inline;
  text-decoration: none;
  padding-left: 0;
}

/*******************/
/* NAVIGATION BAR*/
/*******************/

nav ul {
  height: 8rem;
  justify-content: space-between;

  padding: 6rem 2rem 4rem 2rem;
  align-items: center;
}
nav ul li {
  list-style: none;
  font-weight: 700;
  font-size: 2rem;
}

/****************************/
/* HERO SECTION TOP IMAGE*/
/****************************/

.hero {
  background-color: #f0eeeb;
}

.hero-article-img img {
  width: 100%;
  padding: 0;
}

/****************************/
/* HERO SECTION TEXT AREA */
/****************************/

.hero-article-text {
  padding: 4rem 0 2rem 0;
}
.hero-article-text h1 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
}
.hero-article-text div:nth-of-type(1) p {
  line-height: 2.5rem;
  color: rgb(85, 84, 84);
  font-size: 1.7rem;
  width: 97%;
}

.hero-bold-p {
  margin: 1rem 0;
}
.hero-bold-p p,
img {
  font-weight: 600;
  padding: 0.5rem;
  color: rgb(85, 84, 84);
}
.hero-bold-p img {
  padding-left: 0;
  padding-right: 1rem;
}

input {
  margin-top: 2rem;
  padding: 1.5rem;
  width: 50%;
  border-radius: 0.5rem;
  border: 1px solid rgb(85, 84, 84);
}
input::placeholder {
  font-size: 1.6rem;
}

button {
  padding: 1.5rem 2rem;
  color: white;
  background-color: black;
  font-weight: bold;
  border-radius: 0.5rem;
  margin-left: 1rem;
}

/****************************/
/* CENTER LOGO SECTION */
/****************************/

.center-logo {
  text-align: center;
  margin-top: 4rem;
}

.center-logo img {
  width: 31%;
}

/****************************/
/* MIDDLE SECTION */
/****************************/

.middle-section {
  margin: 4rem 2rem;
  background-color: #f0eeeb;
  border-radius: 1.5rem;
}

.middle-text-container {
  padding: 4rem 4rem 0 4rem;
}

.middle-img-container {
  margin: 0;
  padding: 0;
}

.middle-section img {
  width: 100%;
  padding: 0;
  margin: 0;
}

.middle-section h2 {
  font-size: 3.5rem;
  width: 80%;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.middle-section p {
  line-height: 2.8rem;
  font-size: 1.75rem;
  /* width: 9%; */
  color: rgb(85, 84, 84);
  margin-bottom: 3rem;
}

.middle-section a {
  font-weight: 700;
  color: rgb(85, 84, 84);
  font-size: 1.75rem;
}

/****************************/
/* LAST SECTION */
/****************************/

.last-section {
  margin: 5rem 0;
  margin-bottom: 0;
}

.last-article1 {
  margin: 2rem;
}

.last-article1 h2 {
  font-size: 3.5rem;
  /* width: 80%; */
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.last-article1 p {
  line-height: 2.8rem;
  font-size: 1.75rem;
  /* width: 9%; */
  color: rgb(85, 84, 84);
  margin-bottom: 2rem;
}

.last-article1 a {
  font-weight: 700;
  color: rgb(85, 84, 84);
  font-size: 1.75rem;
}

.last-article-img img {
  width: 100%;
}

/****************************/
/* FOOTER */
/****************************/

footer {
  background-color: black;
  color: rgb(158, 154, 154);
  padding-bottom: 3rem;
}

footer h3,
h4 {
  color: white;

  margin: 1.5rem 0;
}

.footer-top-section {
  margin: 2rem;
  padding-top: 6rem;
  margin-top: 0;
}

.footer-top-section p {
  line-height: 2.5rem;
}

.footer-last-section article {
  width: 35%;
}

.footer-last-section {
  flex-wrap: wrap;
  margin: 2rem;

  justify-content: space-between;
}

.footer-last-section p {
  margin: 1.2rem 0;
}
